[Unit]
Description=Gunicorn instance to serve myapp
After=network.target

[Service]
User=anscfg
Group=www-data
WorkingDirectory={{PROJECT_HOME}}
Environment="PATH={{PROJECT_HOME}}/venv/bin"
ExecStart={{PROJECT_HOME}}/venv/bin/gunicorn --workers 3 --bind unix:myapp.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target